    /* ===== Google Font Import - Poppins ===== */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    :root {
        /* ===== Colors ===== */
        --primary-color: #02335D;
        --secondary-color: #01183B;
        --orange: #EE8B21;
        --panel-color: #FFF;
        --text-color: #000;
        --black-light-color: #707070;
        --border-color: #e6e5e5;
        --toggle-color: #DDD;
        --box1-color: #acf1ff;
        --box2-color: #FFE6AC;
        --box3-color: #E7D1FC;
        --box4-color: #d1fcd4;
        --title-icon-color: #fff;

        /* ====== Transition ====== */
        --tran-05: all 0.5s ease;
        --tran-03: all 0.3s ease;
        --tran-02: all 0.2s ease;
    }

    body {
        min-height: 100vh;
        background-color: var(--primary-color);
    }

    /* ====== Dark Mode ====== */

    body.dark {
        --primary-color: #EE8B21;
        --secondary-color: #02335D;
        --panel-color: #01183B;
        --text-color: #CCC;
        --black-light-color: #CCC;
        --border-color: #2D4059;
        --toggle-color: #FFF;
        --box1-color: #02335D;
        --box2-color: #02335D;
        --box3-color: #02335D;
        --box4-color: #02335D;
        --title-icon-color: #CCC;
    }

    /* === Custom Scroll Bar CSS === */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 12px;
        transition: all 0.3s ease;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #EE8B21;
    }

    body.dark::-webkit-scrollbar-thumb:hover,
    body.dark .data::-webkit-scrollbar-thumb:hover {
        background: #02335D;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        padding: 10px 14px;
        background-color: var(--panel-color);
        border-right: 1px solid var(--border-color);
        transition: var(--tran-05);
    }

    nav.close {
        width: 73px;
    }

    nav .logo-name {
        display: flex;
        align-items: center;
    }

    nav .logo-image {
        display: flex;
        justify-content: center;
        min-width: 45px;
    }

    nav .logo-image img {
        width: 40px;
        object-fit: cover;
    }

    nav .logo-name .logo_name {
        font-weight: 400;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: var(--text-color);
        margin-left: 6px;
        transition: var(--tran-05);
    }

    nav .logo-name .logo_name img {
        height: 50px;
    }

    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    .nav-search {
        padding-bottom: 14px;
        border-bottom: 1px solid var(--border-color);
    }

    nav .menu-items {
        margin-top: 5px;
        height: calc(100% - 90px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-items li {
        list-style: none;
    }

    .menu-items li a {
        display: flex;
        align-items: center;
        height: 50px;
        text-decoration: none;
        position: relative;
    }

    .clg-logo img {
        height: 30px;
    }

    .nav-links li a:hover:before {
        content: "";
        position: absolute;
        left: -7px;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: var(--primary-color);
    }

    .nav-links input {
        outline: none;
        border: none;
    }

    body.dark li a:hover:before {
        background-color: var(--text-color);
    }

    .menu-items li a i {
        font-size: 24px;
        min-width: 45px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--black-light-color);
    }

    .menu-items li a .link-name {
        font-size: 18px;
        font-weight: 400;
        color: var(--black-light-color);
        transition: var(--tran-05);
    }

    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    .menu-items input {
        width: 150px;
        outline: none;
        border: none;
        background-color: var(--panel-color);
        color: var(--text-color);

    }

    .nav-links li a:hover i,
    .nav-links li a:hover .link-name {
        color: var(--primary-color);
    }

    body.dark .nav-links li a:hover i,
    body.dark .nav-links li a:hover .link-name {
        color: var(--text-color);
    }

    .menu-items .logout-mode {
        padding-top: 10px;
        border-top: 1px solid var(--border-color);
    }

    .menu-items .mode {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .menu-items .mode-toggle {
        position: absolute;
        right: 14px;
        height: 50px;
        min-width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .mode-toggle .switch {
        position: relative;
        display: inline-block;
        height: 22px;
        width: 40px;
        border-radius: 25px;
        background-color: var(--toggle-color);
    }

    .switch:before {
        content: "";
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        height: 15px;
        width: 15px;
        background-color: var(--panel-color);
        border-radius: 50%;
        transition: var(--tran-03);
    }

    body.dark .switch:before {
        left: 20px;
    }

    .dashboard {
        position: relative;
        left: 250px;
        background-color: var(--panel-color);
        min-height: 100vh;
        width: calc(100% - 250px);
        padding: 10px 14px;
        transition: var(--tran-05);
    }

    .dashboard .avatar {
        display: flex;
        color: var(--text-color);
        justify-content: space-between;
        align-items: center;
        width: 10%;

    }

    .abesit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 7%;

    }

    nav.close~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    .dashboard .top {
        position: fixed;
        top: 0;
        left: 250px;
        display: flex;
        width: calc(100% - 250px);
        justify-content: space-between;
        align-items: center;
        padding: 10px 14px;
        background-color: var(--panel-color);
        transition: var(--tran-05);
        z-index: 10;
        border-bottom: 1px solid var(--border-color);
    }

    nav.close~.dashboard .top {
        left: 73px;
        width: calc(100% - 73px);
    }

    .dashboard .top .sidebar-toggle {
        font-size: 26px;
        color: var(--text-color);
        cursor: pointer;
    }

    .dashboard .top .search-box {
        position: relative;
        height: 45px;
        max-width: 600px;
        width: 100%;
        margin: 0 30px;
    }

    .top .search-box input {
        position: absolute;
        border: 1px solid var(--border-color);
        background-color: var(--panel-color);
        padding: 0 25px 0 50px;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        color: var(--text-color);
        font-size: 15px;
        font-weight: 400;
        outline: none;
    }

    .top .search-box i {
        position: absolute;
        left: 15px;
        font-size: 22px;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        color: var(--black-light-color);
    }

    .top img {
        width: 50px;
        /* border-radius: 50%; */
    }

    .dashboard .dash-content {
        padding-top: 50px;
    }

    .dash-content .title {
        display: flex;
        align-items: center;
        margin: 60px 0 30px 0;
    }

    .dash-content .title i {
        position: relative;
        height: 35px;
        width: 35px;
        background-color: var(--primary-color);
        border-radius: 6px;
        color: var(--title-icon-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        /* box-shadow: 0 0 5px var(--orange),
            0 0 25px var(--orange),
            0 0 50px var(--orange),
            0 0 100px var(--orange); */
    }

    .dash-content .title .text {
        font-size: 24px;
        font-weight: 500;
        color: var(--text-color);
        margin-left: 10px;
    }

    .dash-content .boxes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .dash-content .boxes .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        width: calc(100% / 4 - 15px);
        padding: 15px 20px;
        background-color: var(--box1-color);
        transition: var(--tran-05);
        min-height: 170px;
    }

    .boxes .box i {
        font-size: 35px;
        color: var(--text-color);
    }

    .boxes .box .text {
        white-space: nowrap;
        font-size: 18px;
        font-weight: 400;
        color: var(--text-color);
    }

    .boxes .box .number {
        font-size: 40px;
        font-weight: 500;
        color: var(--text-color);
    }

    .box .number p {
        font-weight: 600;
        font-size: 20px;
        text-align: center;
    }

    .boxes .box.box2 {
        background-color: var(--box2-color);
    }

    .boxes .box.box3 {
        background-color: var(--box3-color);
    }

    .boxes .box.box3 {
        background-color: var(--box3-color);
    }

    .boxes .box.box4 {
        background-color: var(--box4-color);
    }

    .more {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        cursor: pointer;
        color: var(--text-color);
    }

    .dash-content .activity .activity-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }


    /* ===== Attendance Progress Line ===== */
    .progress-wrapper {
        margin: 20px 0;
        width: 100%;

    }

    .number .progress-bar {
        background-color: var(--title-icon-color);
        height: 20px;
        border-radius: 14px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .number .progress {
        height: 100%;
        position: relative;
        z-index: 1;
        transition: width 0.5s ease-in-out;
    }

    .atd {
        font-size: 14px;
        text-align: center;
        color: #000;
        height: 100%;
    }

    .lessthan {
        border-radius: 14px 0 0 14px;
        background-color: #e12729;
        width: 15%;
    }

    .morethan {
        background-color: #f8cc1b;
        width: 20%;
    }

    .equalto {
        background-color: #72b043;
        width: 66%;
        border-radius: 0 14px 14px 0;

    }

    .tooltip-text {
        visibility: hidden;
        position: absolute;
        z-index: 1;
        /* width: ; */
        color: #000;
        font-size: 12px;
        background-color: inherit;
        border-radius: 10px;
        padding: 10px 15px 10px 15px;
    }

    .progress:hover .tooltip-text {
        visibility: visible;
    }

    #bottom {
        top: 25px;
    }

    /* ===== Activity Tabs ===== */

    .myweektabs {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 20px auto;
    }

    .myweektabs input[type="radio"] {
        display: none;
    }

    .myweektabs label {
        padding: 5px;
        background: var(--secondary-color);
        font-weight: 500;
        color: #f1f1f1;
    }

    .myweektabs .weektab {
        width: 100%;
        padding: 20px;
        background: var(--border-color);
        order: 1;
        display: none;
    }

    .myweektabs .weektab h2 {
        font-size: 18px;
        color: var(--text-color);
    }

    .weektab {
        color: var(--text-color);
    }

    .weektab a {
        text-decoration: none;
        color: var(--text-color);
        text-decoration-line: underline;
    }

    .myweektabs input[type="radio"]:checked+label+.weektab {
        display: block;
    }

    .myweektabs input[type="radio"]:checked+label {
        background: var(--orange);
        color: #000;
    }

    .attendance_wrapper {
        width: 100%;
        padding: 20px;
        background: var(--border-color);
        order: 1;
    }

    .acts {
        display: flex;
        width: calc(100%/2 - 15px);
        flex-wrap: wrap;
    }

    .acts label {
        padding: 5px;
        background: var(--secondary-color);
        font-weight: 500;
        color: #f1f1f1;
    }

    table {
        width: 100%;
        background: var(--panel-color);
        border-collapse: collapse;
        outline: 1px solid var(--border-color);
        text-align: center;
    }

    table thead tr td {
        background-color: var(--primary-color);
        color: var(--panel-color);
        text-align: center;
    }

    tr td {
        border-bottom: 1px solid var(--secondary-color);
        color: var(--text-color);
    }

    .attendance_wrapper table .acts label {
        padding: 5px;
        background: var(--secondary-color);
        font-weight: 500;
        color: var(--text-color);
    }

    .mytabs {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        width: 100%;
    }

    .mytabs input[type="radio"] {
        display: none;
    }

    .mytabs label {
        padding: 5px;
        background: var(--secondary-color);
        font-weight: 500;
        color: #f1f1f1;
    }

    .mytabs .tab {
        width: 100%;
        padding: 20px;
        background: var(--border-color);
        order: 1;
        display: none;
        color: var(--text-color);
    }

    .mytabs .tab h2 {
        font-size: 18px;
        color: var(--text-color);
    }

    .mytabs input[type="radio"]:checked+label+.tab {
        display: block;
    }

    .mytabs input[type="radio"]:checked+label {
        background: var(--orange);
        color: #000;
    }


    /* ===== Footer Section ===== */
    .footer-section {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--secondary-color);
    }

    /* ===== Media Query ===== */

    @media (max-width: 1000px) {
        nav {
            width: 73px;
        }

        nav.close {
            width: 250px;
        }

        nav .logo_name {
            opacity: 0;
            pointer-events: none;
        }

        nav.close .logo_name {
            opacity: 1;
            pointer-events: auto;
        }

        nav li a .link-name {
            opacity: 0;
            pointer-events: none;
        }

        nav.close li a .link-name {
            opacity: 1;
            pointer-events: auto;
        }

        nav~.dashboard {
            left: 73px;
            width: calc(100% - 73px);
        }

        nav.close~.dashboard {
            left: 250px;
            width: calc(100% - 250px);
        }

        nav~.dashboard .top {
            left: 73px;
            width: calc(100% - 73px);
        }

        nav.close~.dashboard .top {
            left: 250px;
            width: calc(100% - 250px);
        }

        .activity .activity-data {
            overflow-X: scroll;
        }
    }

    @media (max-width: 780px) {
        .dash-content .boxes .box {
            width: calc(100% / 2 - 15px);
            margin-top: 15px;
        }
    }

    @media (max-width: 560px) {
        .dash-content .boxes .box {
            width: 100%;
        }
    }

    @media (max-width: 400px) {
        nav {
            width: 0px;
        }

        nav.close {
            width: 73px;
        }

        nav .logo_name {
            opacity: 0;
            pointer-events: none;
        }

        nav.close .logo_name {
            opacity: 0;
            pointer-events: none;
        }

        nav li a .link-name {
            opacity: 0;
            pointer-events: none;
        }

        nav.close li a .link-name {
            opacity: 0;
            pointer-events: none;
        }

        nav~.dashboard {
            left: 0;
            width: 100%;
        }

        nav.close~.dashboard {
            left: 73px;
            width: calc(100% - 73px);
        }

        nav~.dashboard .top {
            left: 0;
            width: 100%;
        }

        nav.close~.dashboard .top {
            left: 0;
            width: 100%;
        }
    }